<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link type="text/css" rel="stylesheet" href="css/swiper.min.css" />
	<link type="text/css" rel="stylesheet" href="css/pass_mail.css" />
	<link type="text/css" rel="stylesheet" href="css/mail.css" />
	<script type="text/javascript" src="js/flexible.js"></script>
	<title><%= data.name %>-官网首页</title>
</head>
<body>
	<div class="m-box">
		<!-- 导航部分 -->
<%- include('header', { data: curIndex }); %>
		<!-- 首屏 -->
		<div class="main-banner"></div>
		<!-- 导航链接 -->
		<div class="nav-box">
			<ul>
				<li><a href="raiders.html"></a></li>
				<li><a href="gift.html"></a></li>
				<li><a href="javascript:;"></a></li>
			</ul>
		</div>
		<!-- 游戏资讯 -->
		<div class="pic-box box-1">
			<div class="swiper-container swiper-container-1">
				<div class="swiper-wrapper">
					<a class="swiper-slide"><img src="images/pic_1.png" /></a>
					<a class="swiper-slide"><img src="images/pic_1.png" /></a>
				</div>
				<div class="swiper-pagination-1"></div>
				<div class="prev"></div>
				<div class="next"></div>
			</div>
			<div class="news-box tab-box">
				<a href="news.html" class="more"></a>
				<ul class="tab-num">
					<li class="li-1"><a href="javascript:;">最新</a></li>
					<li class="li-2"><a href="javascript:;">公告</a></li>
					<li class="li-3"><a href="javascript:;">活动</a></li>
					<li class="li-4"><a href="javascript:;">攻略</a></li>
				</ul>
				<div class="tab-con">
					<ul class="in-news">
						<li><span class="type">公告</span><a href="javascript:;">仙迹之修仙传》精灵捕获</a><span class="time">09/17</span></li>
						<li><span class="type">活动</span><a href="javascript:;">仙迹之修仙传》精灵捕获</a><span class="time">09/17</span></li>
						<li><span class="type">新手攻略</span><a href="javascript:;">仙迹之修仙传》精灵捕获</a><span class="time">09/17</span></li>
						<li><span class="type">精选攻略</span><a href="javascript:;">仙迹之修仙传》精灵捕获</a><span class="time">09/17</span></li>
						<li><span class="type">活动</span><a href="javascript:;">仙迹之修仙传》精灵捕获</a><span class="time">09/17</span></li>
						<li><span class="type">公告</span><a href="javascript:;">仙迹之修仙传》精灵捕获</a><span class="time">09/17</span></li>
						<li><span class="type">活动</span><a href="javascript:;">仙迹之修仙传》精灵捕获</a><span class="time">09/17</span></li>
					</ul>
				</div>
				<div class="tab-con">
					<ul class="in-news">
						<li><span class="type">公告</span><a href="javascript:;">仙迹之修仙传》精灵捕获</a><span class="time">09/17</span></li>
						<li><span class="type">公告</span><a href="javascript:;">仙迹之修仙传》精灵捕获</a><span class="time">09/17</span></li>
						<li><span class="type">公告</span><a href="javascript:;">仙迹之修仙传》精灵捕获</a><span class="time">09/17</span></li>
						<li><span class="type">公告</span><a href="javascript:;">仙迹之修仙传》精灵捕获</a><span class="time">09/17</span></li>
						<li><span class="type">公告</span><a href="javascript:;">仙迹之修仙传》精灵捕获</a><span class="time">09/17</span></li>
						<li><span class="type">公告</span><a href="javascript:;">仙迹之修仙传》精灵捕获</a><span class="time">09/17</span></li>
						<li><span class="type">公告</span><a href="javascript:;">仙迹之修仙传》精灵捕获</a><span class="time">09/17</span></li>
					</ul>
				</div>
				<div class="tab-con">
					<ul class="in-news">
						<li><span class="type">活动</span><a href="javascript:;">仙迹之修仙传》精灵捕获</a><span class="time">09/17</span></li>
						<li><span class="type">活动</span><a href="javascript:;">仙迹之修仙传》精灵捕获</a><span class="time">09/17</span></li>
						<li><span class="type">活动</span><a href="javascript:;">仙迹之修仙传》精灵捕获</a><span class="time">09/17</span></li>
						<li><span class="type">活动</span><a href="javascript:;">仙迹之修仙传》精灵捕获</a><span class="time">09/17</span></li>
						<li><span class="type">活动</span><a href="javascript:;">仙迹之修仙传》精灵捕获</a><span class="time">09/17</span></li>
						<li><span class="type">活动</span><a href="javascript:;">仙迹之修仙传》精灵捕获</a><span class="time">09/17</span></li>
						<li><span class="type">活动</span><a href="javascript:;">仙迹之修仙传》精灵捕获</a><span class="time">09/17</span></li>
					</ul>
				</div>
				<div class="tab-con">
					<ul class="in-news">
						<li><span class="type">攻略</span><a href="javascript:;">仙迹之修仙传》精灵捕获</a><span class="time">09/17</span></li>
						<li><span class="type">攻略</span><a href="javascript:;">仙迹之修仙传》精灵捕获</a><span class="time">09/17</span></li>
						<li><span class="type">攻略</span><a href="javascript:;">仙迹之修仙传》精灵捕获</a><span class="time">09/17</span></li>
						<li><span class="type">攻略</span><a href="javascript:;">仙迹之修仙传》精灵捕获</a><span class="time">09/17</span></li>
						<li><span class="type">攻略</span><a href="javascript:;">仙迹之修仙传》精灵捕获</a><span class="time">09/17</span></li>
						<li><span class="type">攻略</span><a href="javascript:;">仙迹之修仙传》精灵捕获</a><span class="time">09/17</span></li>
						<li><span class="type">攻略</span><a href="javascript:;">仙迹之修仙传》精灵捕获</a><span class="time">09/17</span></li>
					</ul>
				</div>
			</div>
		</div>-%>
		<% data.list.forEach(function(item, index){ %>
		<!--<%= item.typeIntr %>-->
		<div class="pic-box box-<%= (index + 2) %>">
<%- include('partType/type.ejs', {data: data.list[index], index: index + 2}) %>
		</div>-%>
		<% }); %>
		<!-- 底部 -->
<%- include('footer/footer1_'+ (data.selected) +'.ejs') %>
	</div>
	<!-- 二维码、分享弹窗 -->
	<div class="popup-bg popup-wxcode">
		<div class="popup-box">
			<a href="javascript:$('.popup-bg').hide();" class="popup-close"></a>
			<div class="inner-box">
				<img src="images/6kwkf_code.jpg">
			</div>
		</div>
	</div>
	<div class="popup-bg popup-share">
		<div class="popup-box">
			<a href="javascript:$('.popup-bg').hide();" class="popup-close"></a>
			<div class="inner-box">
				<div class="title">分享至</div>
				<ul>
					<li><a href="javascript:;"><img src="images/share/ic114x144_wb.png"></a></li>
					<li><a href="javascript:;"><img src="images/share/ic114x144_qqkj.png"></a></li>
					<li><a href="javascript:;"><img src="images/share/ic114x144_db.png"></a></li>
				</ul>
			</div>
		</div>
	</div>	
</body>
<script src="js/zepto.min.js"></script>
<script src="js/swiper.min.js"></script>
<script src="js/plugs.js"></script>
<script src="js/main.js"></script>
</html>